body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.page-container {
    flex: 0 0 50%;
}

#hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hero-content p {
    font-size: 24px;
    color: #F9FaF8;
    font-weight: bold;
}
#hero-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

#hero-content a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 86px;
    background-color: #1f2937;
    
}

.header-content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.left {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
}

#main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

#secondary-text {
    font-size: 24px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

#header-button button {
    padding: 8px 24px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 8px;
}

#image-placeholder {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #757982;
    color: #E5E7EB;
}